.column-layout {
  display: flex;
  flex-direction: column;
}
.combo-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  height: 10%;
  min-width: 50px;
  min-height: 50px;
  max-height: 10%;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 400px;
  min-height: 200px;
  flex-grow: 1;
  flex-basis: 0;
}
.single-select-combo {
  width: 459px;
  height: max-content;
  min-width: min-content;
  max-width: 459px;
}
